{% extends 'layouts/base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row"><img src="{%  static 'logo.png' %}" alt="" /></div>
  <div class="row">
    <h2 class="text-center">Sitio en construcción</h2>
  </div>
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <img
        src="https://cdn.icon-icons.com/icons2/1852/PNG/512/iconfinder-websitebuilder-4417110_116613.png"
        alt=""
        class="img-fluid"
      />
    </div>
  </div>
</div>

{% endblock %}
